html, body {
	height: 100%;
	margin: 0;
}
body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
}
h1:hover {
	text-decoration: underline;
}
* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	margin-top: 30px;
}
h3 {
	color: aqua;
}
input {
	border: solid white;
}
.topNav {
	padding: 0%;
	border-bottom: 2px solid white;
}
.topNav a {
	font-size: 20px;
	color: rgb(48, 221, 48);
	border-bottom: 1px solid rgba(0, 0, 0, 0.0);
	transition: 0.3s ease;
	margin-bottom: 10px;
}
.topNav a:hover {
	color: rgb(192, 255, 119);
	text-decoration: none;
	text-shadow: 0 0 1px rgb(169, 255, 119);
}
.row {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.center {
    text-align: center;
}
input {
    margin-bottom: 10px;
    border-radius: 5px;
}
button {
    border-radius: 2px;
	border-style: none;
	font-size: 20px;
}
.loginButton {
	margin-top: 10px;
	margin-bottom: 15px;
	background-color: rgb(40, 175, 40);
}
.loginButton:hover {
	color: white;
}
#loginForm {
	padding: 15px;
	width: 450px;
	margin: auto;
	border: 2px solid white;
}
#createAccountButton {
	background-color: rgb(40, 175, 40);
}
#createAccountButton:hover {
	color: white;
}
.logo {
	width: 45px;
	height: 45px;
	border-radius: 2px;
}