.text {
  color: black;
}
.modal {
  position: fixed;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}
.header {
  color: black;
  width: 100%;
  height: 100%;
  background-color: white;
}
.text-modal {
  color: black;
}
.logos {
  width: 5%;
  height: auto;
}
